h1{
	margin-bottom: 0px !important;
}
#slogan, .pagetitle{
	color:rgb(32,46,106);
}
.subtitle{
	font-size: 0.6em;
	color:#F95A09;
	line-height: 10px;
}
.precios{
	/*display: none;*/
}
.essb_links {
    margin: 0 0 !important;
}
.no-breadcrumbs-padding{
	padding: 0
}
#home-page-content #content-container, #page-content #content-container {
	padding: 0;
}

#breadcrumbs-container .breadcrumbs, .breadcrumbs{
	margin: 0 0 0 0;
}

.ls-wp-fullwidth-container .ls-wp-fullwidth-helper{
	background: black !important;	
}
 